<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login page</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/login.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/easyui/themes/default/easyui.css" />
	<script type="text/javascript" src="__PUBLIC__/Home/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/easyui/jquery.easyui.min.js"></script>
</head>
<body>
	<div id="loginWrapper">
		<div id="loginPanel" class="easyui-panel" title="login">
			<form action="{:U('Login/submit')}" method="POST">
			<div class="inputBorder">
				<label class="inputLabel" for="userName"><img src="__PUBLIC__/Home/img/icons/0.png"></label>
				<input type="text" id="userName" name="username" class="textInput" placeholder="用户名" autofocus="autofocus">
			</div>
			<div class="inputBorder">
				<label class="inputLabel" for="password"><img src="__PUBLIC__/Home/img/icons/1.png"></label>
				<input type="password" id="password" name="password" class="textInput" placeholder="密码">
			</div>
			<div id="verifyCode" style="margin-left:50px; margin-bottom:20px;">
				请输入验证码：<br/><input type="text" id="vcode" name="vcode" placeholder="验证码"/>
				<span id="vcodeurl" style="display:none;">{:U('Login/verify')}</span>
				<img id="vcodeimg" src="{:U('Login/verify')}">
			</div>
			<div id="loginButton">
				<!-- <a id="login" style="cursor:pointer">登&nbsp;&nbsp;&nbsp;&nbsp;录</a> -->
				<input id="login" type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录">
			</div>

			<a id="register" href="{:U('Login/registerClick')}">立即注册</a>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$("#vcodeimg").bind('click',function(){
			var date = new Date();
			var url = $("#vcodeurl").text();
			url = url + "?action=" + date.getTime();
			$("#vcodeimg").attr('src',url);
		});
	</script>


</body>
</html>